<div class="question_title"><%= @question.title %></div>
<div class="question_title1">内容</div>
<div class=question_title2><%= @question.content %></div>



<h1>Answer</h1>
<h2>回答一覧</h2>
<% @question.answers.each do |answer| %>
  回答No.<%= answer.id %>: <%= answer.content %><br>
<% end %>

<h2>回答する</h2>
<%= form_for @answer, url: answer_create_path(@question.id) do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "回答する" %>
<% end %>









